.section-subtitle {
  margin: 34px 0 132px;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.4;
  max-width: 520px;
}

@media (max-width: 700px) {
  .section-subtitle {
    max-width: 100%;
    margin-bottom: 72px;
  }
}