.content {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (min-width: 1505px) {
    .content {
        width: 1505px;
        align-self: center;
    }
}