.place__paragraph {
    max-width: 450px;
    font-size: 15px;
    line-height: 1.57;
    margin: 0 0 24px 0;
}

.place__paragraph:last-of-type {
    margin-bottom: 0;
}

/* .place:nth-of-type(2n) .place__paragraph {
    margin-left: 79px;
} */