.footer {
  display: flex;
  width: 100%;
  padding-top: 325px;
  padding-bottom: 338px;
  background: #FECDA7;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 1;
  justify-content: center;
  align-items: center;
}