.place__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 80px;
  grid-area: description;
}

@media (max-width: 1080px) {
  .place__description {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .place__description {
    margin: 0 25px;
  }
}